<h1>Path finder</h1>
<div>
    <a href="./">Home</a>
</div>
<p>
Dans le graph...<br/>
<br/>
<br/>
Le chemin du sommet <%= fromVertexId %>
 au sommet <%= toVertexId %>
 en utilisant le metric 
 <b><%= metricUsed %></b>
 est <%= verticesFromTo %>
  pour une poids total de 
 <%= totalWeight %>
</p>
