<html>
    <%- include('./components/head'); %>
    <body onload="drawGraph();">

        <%- include('./components/header', {
                href : "./",
                trail:"Home" } ); %>

        <div class="layout" >
            Shorter path from vertex id:<%= path.fromVertexId %>
            to vertex id:<%= path.toVertexId %>
            using the metric 
            <b><%= path.metricUsed %></b> is :<br/> 
            <ul>
                <li id="path">[ <%= path.verticesFromTo.join(" => "); %> ] </li>
                <li>for a total "lenght" of <%= path.totalWeight %></li>
            </ul>
            <%- include('./components/graphCanvas', { path, graphAscii, graphCanvas }); %>
        </div>

        <%- include('./components/footer'); %>
    </body>
</html>