<html>
    <head>
        <%- include('./components/head'); %>
    </head>
    <body>

        <header>
            <%- include('./components/header', {
                href : "./", 
                trail:"Home" } ); %>
        </header>

        <div class="layout" >
            <br>
            In graph :
            <%- include('./components/graphCanvas', { graphAscii, graphCanvas }); %>
            <br/>
            Shorter path from vertex id:<%= fromVertexId %>
            to vertex id:<%= toVertexId %>
            using the metric  
            <b><%= metricUsed %></b>
            is :<br> 
            <ul>
                <li>[ <%= verticesFromTo.join(" => "); %> ] </li>
                <li>for a total "lenght" of <%= totalWeight %></li>
            </ul>
        </div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>