<html>
    <head>
        <%- include('./components/head'); %>
    </head>
    <body onload="drawGraph();">

        <header>
            <%- include('./components/header', {
                href : "./", 
                trail:"Home" } ); %>
        </header>

        <div class="layout" >
            <br>
            <%- include('./components/graphCanvas', { path, graphAscii, graphCanvas }); %>
            <br/>
            Shorter path from vertex id:<%= path.fromVertexId %>
            to vertex id:<%= path.toVertexId %>
            using the metric  
            <b><%= path.metricUsed %></b>
            is :<br> 
            <ul>
                <li id="path">[ <%= path.verticesFromTo.join(" => "); %> ] </li>
                <li>for a total "lenght" of <%= path.totalWeight %></li>
            </ul>
        </div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>