<head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1 style="text-align:center;">Path finder</h1>
    <div>
        <a href="./">Home</a>
    </div>
    <div>
        <br>
        Graph :<br>
        <div style="font-family: monospace;">
            <% graph.forEach( function(vertex){ %>
                <%= vertex %></br>
            <% }); %>
        </div><br/>
        <br/>
        Shorter path from vertex id:<%= fromVertexId %>
        to vertex id:<%= toVertexId %>
        using the metric  
        <b><%= metricUsed %></b>
        is :<br> 
        <ul>
            <li>[ <%= verticesFromTo.join(" => "); %> ] </li>
            <li>for a total "lenght" of <%= totalWeight %></li>
        </ul>
    </div>
</body>