<head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1 style="text-align:center;">Path finder</h1>
    <div>
        <a href="./">Home</a>
    </div>
    <p>
    Dans le &quot;graph&quot; :<br/>
    <div style="font-family: monospace;">
        <% graph.forEach( function(vertex){ %>
            <%= vertex %></br>
        <% }); %>
    </div>
    <br/>
    <br/>
    Le chemin du sommet <%= fromVertexId %>
    au sommet <%= toVertexId %>
    le plus court en utilisant le metric 
    <b><%= metricUsed %></b>
    est :<br> 
    <ul>
        <li>[ <%= verticesFromTo.join(" => "); %> ] </li>
        <li>pour un poids total de <%= totalWeight %></li>
    </ul>
    </p>
</body>