<html>
    <head>
        <%- include('./components/head'); %>
    </head>
    <body onload="drawGraph();">

        <header>
            <%- include('./components/header', {
                    href : "./findPath?from=0&to=4&by=km", 
                    trail:"Find path from 0 to 4 by km"} ); %>
        </header>

        <div class="layout" >
            <form action="findPath" method="get" class="form-example">
                Test : Find a path 

                <label for="from">form vertex id</label>
                <input type="number" id="#input-from" name="from" required
                    min="<%= minVertexId %>" max="<%= maxVertexId %>" >

                <label for="to">to id</label>
                <input type="number" id="#input-to" name="to" required
                    min="<%= minVertexId %>" max="<%= maxVertexId %>" >

                <label for="to">by (km, co)</label>
                <input type="text" id="#input-by" name="by" required 
                    value="km" size="4">

                <button type="submit">
                    Go
                </button>
                </br>
                Maximum: <%= maxVertexId %> and minimum :<%= minVertexId %> 
                are border values for vertex id.
            </form>
            <br>
            <%- include('./components/graphCanvas', { path : { verticesFromTo : undefined }, graphAscii, graphCanvas }); %>
            <br>            
        </div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>