<html>
    <%- include('./components/head'); %>
    <body onload="drawGraph();">

        <%- include('./components/header', {
                    href : "./findPath?from=0&to=4&by=km", 
                    trail:"Find path from 0 to 4 by km"} ); %>

        <div class="layout" >
            <form action="findPath" method="get" class="form-example">
                Test : Find a path 

                <label for="from">form vertex id</label>
                <input type="number" id="from" name="from" required
                    min="<%= minVertexId %>" max="<%= maxVertexId %>" >

                <label for="to">to id</label>
                <input type="number" id="to" name="to" required
                    min="<%= minVertexId %>" max="<%= maxVertexId %>" >

                <label for="to">by (km, co)</label>
                <input type="text" id="by" name="by" required 
                    value="km" size="4">

                <button type="submit" id="go">
                    Go
                </button>
                </br>
                Maximum: <%= maxVertexId %> and minimum :<%= minVertexId %> 
                are border values for vertex id.
            </form>
            <%- include('./components/graphCanvas', { path : { verticesFromTo : undefined }, graphAscii, graphCanvas }); %>
        </div>

        <%- include('./components/footer'); %>
    </body>
</html>